<nav class="navbar navbar-expand-lg bg-navbar bs-text-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <img src="assets/images/logo argentina programa.png" alt="logodeargentinaprograma" class>
        </a>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><a href="http://instagram.com/johaaaamarquez/" target="_blank"><i class="fa-brands fa-instagram fa-2x text-white"></i></a></li>
          <li class="list-group-item"><a href="https://github.com/JohanaMarquez" target="_blank"><i class="fa-brands fa-github fa-2x text-white"></i></a></li>
          <li class="list-group-item"><a href="http://www.facebook.com/jcmvmarquez/" target="_blank"><i class="fa-brands fa-facebook fa-2x text-white"></i></a></li>
          <li class="list-group-item"> 
            <!-- Boton envia al login -->
           <a href="/login.html" ><i class="fa-solid fa-right-to-bracket fa-2x text-white"></i> </a>
          </li>
        </ul>
      </div>
  </nav>
 <!-- Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inicio de sesion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Ingresar</button>
      </div>
    </div>
  </div>
</div>